# let's start with feature engenerring

In [1]:
import pandas as pd

In [2]:
#Load the dataset
df = pd.read_csv("dataset\india_terrorism_database_with_summary.csv")

<>:2: SyntaxWarning: invalid escape sequence '\i'
<>:2: SyntaxWarning: invalid escape sequence '\i'
C:\Users\ASUS\AppData\Local\Temp\ipykernel_26468\308107510.py:2: SyntaxWarning: invalid escape sequence '\i'
  df = pd.read_csv("dataset\india_terrorism_database_with_summary.csv")

In [3]:
#convert to data time format
df.columns

Index(['Date', 'State', 'City', 'Attack Type', 'Target Type', 'Casualties',
       'Perpetrators', 'Weapons Used', 'Sources', 'Summary'],
      dtype='object')

In [4]:
# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'], errors = 'coerce')

In [5]:
# Extract Year and Month from Date
df['Year'] = df['Date'].dt.year
df['Months'] = df['Date'].dt.month

In [6]:
df.head()

,Date,State,City,Attack Type,Target Type,Casualties,Perpetrators,Weapons Used,Sources,Summary,Year,Months
0,2005-03-28,Jammu and Kashmir,Pulwama,Hijacking,Public Infrastructure,40,Terrorist Group B,Explosives,https://news.example.com/8568,"On 2005-03-28, a hijacking targeted public inf...",2005,3
1,2006-01-15,West Bengal,Kolkata,Suicide Attack,Military,1,Maoist Rebels,Explosives,https://news.example.com/5309,"On 2006-01-15, a suicide attack targeted milit...",2006,1
2,2010-08-08,Maharashtra,Nagpur,Shooting,Military,4,Terrorist Group A,Explosives,https://news.example.com/9938,"On 2010-08-08, a shooting targeted military in...",2010,8
3,2001-04-26,Assam,Tezpur,Arson,Civilians,1,Terrorist Group B,Guns,https://news.example.com/8364,"On 2001-04-26, a arson targeted civilians in T...",2001,4
4,2019-08-25,Jharkhand,Dhanbad,Hijacking,Government Officials,46,Maoist Rebels,Guns,https://news.example.com/8902,"On 2019-08-25, a hijacking targeted government...",2019,8

In [8]:
# Define a function to classify the risk category
def classify_risk(cas):
    if cas == 0:
        return "No Risk"
    elif cas <= 5:
        return "Low Risk"
    elif cas <= 20:
        return "Medium Risk"
    else:
        return "High Risk"

In [11]:
# add the risk column and add data using the classify risk function
df['Risk'] = df['Casualties'].apply(classify_risk)

In [12]:
df.head()

,Date,State,City,Attack Type,Target Type,Casualties,Perpetrators,Weapons Used,Sources,Summary,Year,Months,Risk
0,2005-03-28,Jammu and Kashmir,Pulwama,Hijacking,Public Infrastructure,40,Terrorist Group B,Explosives,https://news.example.com/8568,"On 2005-03-28, a hijacking targeted public inf...",2005,3,High Risk
1,2006-01-15,West Bengal,Kolkata,Suicide Attack,Military,1,Maoist Rebels,Explosives,https://news.example.com/5309,"On 2006-01-15, a suicide attack targeted milit...",2006,1,Low Risk
2,2010-08-08,Maharashtra,Nagpur,Shooting,Military,4,Terrorist Group A,Explosives,https://news.example.com/9938,"On 2010-08-08, a shooting targeted military in...",2010,8,Low Risk
3,2001-04-26,Assam,Tezpur,Arson,Civilians,1,Terrorist Group B,Guns,https://news.example.com/8364,"On 2001-04-26, a arson targeted civilians in T...",2001,4,Low Risk
4,2019-08-25,Jharkhand,Dhanbad,Hijacking,Government Officials,46,Maoist Rebels,Guns,https://news.example.com/8902,"On 2019-08-25, a hijacking targeted government...",2019,8,High Risk

In [14]:
#save the csv
df.to_csv(r'dataset\updated_file_with_risk_level.csv', index=False)